body{
    background-color: #1c63c0bd;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;

}
button{
    padding: 5px 20px;
    background-color: #7ab310cc;
    border-style:none;
}

input{
    height: 20px;
}
